body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
}

main {
    min-height: 80vh;
    // background-image: url("../images/background-image.jpg");
    // background-attachment: fixed;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
}

.landing {
    text-align: center;
    .landing-banner {
        background-image: url("../images/landing_top.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
}

.sidebar {
    font-size: 12px;
}

.btn {
    border-radius: 12px;
}

.preview-img {
    width: 100%;
}
